In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Pull Data 
btc_data = yf.download('BTC-USD', start='2017-01-01', end='2022-01-01')
btc_df = pd.DataFrame(btc_data)

[*********************100%***********************]  1 of 1 completed

In [3]:
btc_df = btc_df.drop(columns=['Adj Close', 'Volume', 'Open', 'High', 'Low'])

In [4]:
btc_df.head()

                  Close
Date
2017-01-01   998.325012
2017-01-02  1021.750000
2017-01-03  1043.839966
2017-01-04  1154.729980
2017-01-05  1013.380005

In [5]:
short_window = 8
long_window = 21

In [6]:
# Generate the short and long moving averages (50 and 100 days, respectively)
btc_df['SMA8'] = btc_df['Close'].rolling(window=short_window).mean()
btc_df['SMA21'] = btc_df['Close'].rolling(window=long_window).mean()

# Prepopulate the `Signal` for trading
btc_df['Signal'] = 0.0

In [7]:
btc_df.dropna()

                   Close          SMA8         SMA21  Signal
Date
2017-01-21    921.789001    872.773491    912.060948     0.0
2017-01-22    924.672974    886.056114    908.553708     0.0
2017-01-23    921.012024    898.457870    903.756662     0.0
2017-01-24    892.687012    906.101997    896.558902     0.0
2017-01-25    901.541992    905.302498    884.502331     0.0
...                  ...           ...           ...     ...
2021-12-28  47588.855469  49830.063477  48574.859561     0.0
2021-12-29  46444.710938  49518.575684  48381.522135     0.0
2021-12-30  47178.125000  49337.277344  48357.998512     0.0
2021-12-31  46306.445312  48777.515625  48313.386161     0.0
2022-01-01  47686.812500  48385.592773  48233.591146     0.0

[1807 rows x 4 columns]

In [8]:
# Generate the trading signal 0 or 1,
# where 1 is when short-window (SMA50) is greater than the long (SMA 100)
# and 0 otherwise
btc_df['Signal'][short_window:] = np.where(
    btc_df['SMA8'][short_window:] > btc_df['SMA21'][short_window:], 1.0, 0.0
)

In [9]:
# Calculate the points in time when the Signal value changes
# Identify trade entry (1) and exit (-1) points
btc_df['Entry/Exit'] = btc_df['Signal'].diff()

# Review the DataFrame
btc_df.tail(10)

                   Close          SMA8         SMA21  Signal  Entry/Exit
Date
2021-12-23  50784.539062  47831.663086  48725.319754     0.0         0.0
2021-12-24  50822.195312  48226.259277  48593.126860     0.0         0.0
2021-12-25  50429.859375  48754.723633  48651.658110     1.0         1.0
2021-12-26  50809.515625  49249.815918  48720.261347     1.0         0.0
2021-12-27  50640.417969  49741.491211  48723.013393     1.0         0.0
2021-12-28  47588.855469  49830.063477  48574.859561     1.0         0.0
2021-12-29  46444.710938  49518.575684  48381.522135     1.0         0.0
2021-12-30  47178.125000  49337.277344  48357.998512     1.0         0.0
2021-12-31  46306.445312  48777.515625  48313.386161     1.0         0.0
2022-01-01  47686.812500  48385.592773  48233.591146     1.0         0.0

In [10]:
# Filling missing values with the previous ones
btc_df = btc_df.fillna(method ='pad')

In [11]:
btc_rnn = btc_df[['Close']]
btc_rnn

                   Close
Date
2017-01-01    998.325012
2017-01-02   1021.750000
2017-01-03   1043.839966
2017-01-04   1154.729980
2017-01-05   1013.380005
...                  ...
2021-12-28  47588.855469
2021-12-29  46444.710938
2021-12-30  47178.125000
2021-12-31  46306.445312
2022-01-01  47686.812500

[1827 rows x 1 columns]

In [12]:
def window_data(df, window, feature_col_number, target_col_number):
    """
    This function accepts the column number for the features (X) and the target (y).
    It chunks the data up with a rolling window of Xt - window to predict Xt.
    It returns two numpy arrays of X and y.
    """
    X = []
    y = []
    for i in range(len(df) - window):
        features = df.iloc[i : (i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [13]:
btc_rnn.isnull().sum()

Close    0
dtype: int64

In [14]:
# Define the window size
window_size = 30

# Set the index of the feature and target columns
feature_column = 0
target_column = 0

# Create the features (X) and target (y) data using the window_data() function.
X, y = window_data(btc_rnn, window_size, feature_column, target_column)

# Print a few sample values from X and y
print (f"X sample values:\n{X[:3]} \n")
print (f"y sample values:\n{y[:3]}")

X sample values:
[[ 998.32501221 1021.75       1043.83996582 1154.72998047 1013.38000488
   902.20098877  908.58502197  911.19897461  902.82800293  907.67901611
   777.75701904  804.83398438  823.98400879  818.4119873   821.79797363
   831.53399658  907.93798828  886.61798096  899.07299805  895.02600098
   921.78900146  924.67297363  921.01202393  892.68701172  901.54199219
   917.58599854  919.75        921.59002686  919.49597168  920.38201904]
 [1021.75       1043.83996582 1154.72998047 1013.38000488  902.20098877
   908.58502197  911.19897461  902.82800293  907.67901611  777.75701904
   804.83398438  823.98400879  818.4119873   821.79797363  831.53399658
   907.93798828  886.61798096  899.07299805  895.02600098  921.78900146
   924.67297363  921.01202393  892.68701172  901.54199219  917.58599854
   919.75        921.59002686  919.49597168  920.38201904  970.40301514]
 [1043.83996582 1154.72998047 1013.38000488  902.20098877  908.58502197
   911.19897461  902.82800293  907.67901611  777.75701904  804.83398438
   823.98400879  818.4119873   821.79797363  831.53399658  907.93798828
   886.61798096  899.07299805  895.02600098  921.78900146  924.67297363
   921.01202393  892.68701172  901.54199219  917.58599854  919.75
   921.59002686  919.49597168  920.38201904  970.40301514  989.02301025]]

y sample values:
[[ 970.40301514]
 [ 989.02301025]
 [1011.79998779]]

In [15]:
 # Manually splitting the data
split = int(0.7 * len(X))

X_train = X[: split]
X_test = X[split:]

y_train = y[: split]
y_test = y[split:]

In [16]:
# Importing the MinMaxScaler from sklearn
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit the MinMaxScaler object with the features data X
scaler.fit(X_train)

# Scale the features training and testing sets
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Fit the MinMaxScaler object with the target data Y
scaler.fit(y_train)

# Scale the target training and testing sets
y_train = scaler.transform(y_train)
y_test = scaler.transform(y_test)

In [17]:
# Reshape the features data
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

# Print some sample data after reshaping the datasets
print (f"X_train sample values:\n{X_train[:3]} \n")
print (f"X_test sample values:\n{X_test[:3]}")

X_train sample values:
[[[1.17827027e-02]
  [1.30340614e-02]
  [1.42141034e-02]
  [2.01378282e-02]
  [1.25869378e-02]
  [6.64777460e-03]
  [6.98880851e-03]
  [7.12844539e-03]
  [6.68126958e-03]
  [6.94040984e-03]
  [0.00000000e+00]
  [0.00000000e+00]
  [2.98304242e-04]
  [0.00000000e+00]
  [0.00000000e+00]
  [0.00000000e+00]
  [1.14557286e-03]
  [0.00000000e+00]
  [3.43245617e-04]
  [1.25720252e-04]
  [1.56422672e-03]
  [1.71923970e-03]
  [1.52246431e-03]
  [0.00000000e+00]
  [0.00000000e+00]
  [0.00000000e+00]
  [1.36736800e-05]
  [1.12717513e-04]
  [0.00000000e+00]
  [0.00000000e+00]]

 [[1.30340614e-02]
  [1.42141034e-02]
  [2.01378282e-02]
  [1.25869378e-02]
  [6.64777460e-03]
  [6.98880851e-03]
  [7.12844539e-03]
  [6.68126958e-03]
  [6.94040984e-03]
  [0.00000000e+00]
  [1.44644664e-03]
  [1.02447272e-03]
  [0.00000000e+00]
  [1.81272468e-04]
  [5.21323100e-04]
  [4.09324647e-03]
  [0.00000000e+00]
  [6.69236619e-04]
  [1.25720252e-04]
  [1.56422672e-03]
  [1.71923970e-03]
  [1.52246431e-03]
  [0.00000000e+00]
  [4.75953609e-04]
  [8.62773097e-04]
  [1.16470564e-04]
  [1.12717513e-04]
  [0.00000000e+00]
  [4.76936119e-05]
  [2.69262780e-03]]

 [[1.42141034e-02]
  [2.01378282e-02]
  [1.25869378e-02]
  [6.64777460e-03]
  [6.98880851e-03]
  [7.12844539e-03]
  [6.68126958e-03]
  [6.94040984e-03]
  [0.00000000e+00]
  [1.44644664e-03]
  [2.46943752e-03]
  [7.26385165e-04]
  [1.81272468e-04]
  [7.02501067e-04]
  [4.61243566e-03]
  [2.95105425e-03]
  [6.69236619e-04]
  [4.51782189e-04]
  [1.56422672e-03]
  [1.71923970e-03]
  [1.52246431e-03]
  [0.00000000e+00]
  [4.75953609e-04]
  [1.33831607e-03]
  [9.79143174e-04]
  [2.15504215e-04]
  [0.00000000e+00]
  [4.76936119e-05]
  [2.74019299e-03]
  [3.69494124e-03]]]

X_test sample values:
[[[0.45642025]
  [0.46491734]
  [0.46461998]
  [0.4598929 ]
  [0.46330718]
  [0.46797192]
  [0.46488588]
  [0.46123121]
  [0.45461665]
  [0.45698434]
  [0.4554506 ]
  [0.47312304]
  [0.47171967]
  [0.4547997 ]
  [0.45208799]
  [0.44634328]
  [0.43838956]
  [0.44366561]
  [0.44602501]
  [0.44318372]
  [0.44803905]
  [0.44239989]
  [0.44045917]
  [0.44288784]
  [0.43947422]
  [0.45521922]
  [0.44853182]
  [0.45800844]
  [0.44991467]
  [0.44993365]]

 [[0.46491734]
  [0.46461998]
  [0.4598929 ]
  [0.46330718]
  [0.46797192]
  [0.46488588]
  [0.46123121]
  [0.45461665]
  [0.45698434]
  [0.4554506 ]
  [0.47388514]
  [0.4721034 ]
  [0.4547997 ]
  [0.45218731]
  [0.44663191]
  [0.4400469 ]
  [0.44366561]
  [0.44620566]
  [0.44318372]
  [0.44803905]
  [0.44239989]
  [0.44045917]
  [0.44288784]
  [0.43974101]
  [0.45568924]
  [0.44858851]
  [0.45800844]
  [0.44991467]
  [0.44995988]
  [0.4478633 ]]

 [[0.46461998]
  [0.4598929 ]
  [0.46330718]
  [0.46797192]
  [0.46488588]
  [0.46123121]
  [0.45461665]
  [0.45698434]
  [0.4554506 ]
  [0.47388514]
  [0.47286698]
  [0.45519573]
  [0.45218731]
  [0.44673222]
  [0.44033882]
  [0.44530738]
  [0.44620566]
  [0.4433653 ]
  [0.44803905]
  [0.44239989]
  [0.44045917]
  [0.44288784]
  [0.43974101]
  [0.45594831]
  [0.44906426]
  [0.45806416]
  [0.44991467]
  [0.44995988]
  [0.44788963]
  [0.44980943]]]

In [ ]:
 # Importing required Keras modules
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [ ]:
# Define the LSTM RNN model.
model = Sequential()

# Initial model setup

number_units = 30
dropout_fraction = 0.2

# Layer 1
model.add(LSTM(
    units=number_units,
    return_sequences=True,
    input_shape=(X_train.shape[1], 1))
    )
model.add(Dropout(dropout_fraction))

# Layer 2
model.add(LSTM(units=number_units, return_sequences=True))
model.add(Dropout(dropout_fraction))

# Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))

# Output layer
model.add(Dense(1))

In [ ]:
# Compile the model
model.compile(optimizer="adam", loss="mean_squared_error")

In [ ]:
# Show the model summary
model.summary()

In [ ]:
 # Train the model
model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=90, verbose=1)

In [ ]:
# Evaluate the model
model.evaluate(X_test, y_test, verbose=0)

In [ ]:
# Make predictions using the testing data X_test
predicted = model.predict(X_test)

In [ ]:
# Recover the original prices instead of the scaled version
predicted_prices = scaler.inverse_transform(predicted)
real_prices = scaler.inverse_transform(y_test.reshape(-1, 1))

In [ ]:
# Create a DataFrame of Real and Predicted values
stocks = pd.DataFrame({
    "Actual": real_prices.ravel(),
    "Predicted": predicted_prices.ravel()
}, index = btc_rnn.index[-len(real_prices): ]) 

# Show the DataFrame's head
stocks.head()

In [ ]:
 # Plot the real vs predicted prices as a line chart
stocks.plot(title="Actual Vs. Predicted ADA prices")